body {
  background-color: violet;
  margin: 5px;
}
h3{
  display: block;
  text-align: center;
  position: static;
  padding-left: 50px;
}
#logo {
  float: left;
}
#header {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.nav {
  display: inline;
  width: 100%;
  margin: -50px 0 0 -100px;
  clear: both;
  overflow: hidden;
}
.card {
  background-color: transparent
}
.card-body {
  background-color: white
}
#unlock {
  height: 286px;
  width: 286px;
}
#unlock-btn {
  display: none;
}
#unlock-btn2 {
  display: none;
}
/* Cookie.html */
#options {
  list-style-type: none;
}
.col {
  margin-right: 20px;
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end);
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
