body {
  background-color: violet;
}
h3{
  display: block;
  text-align: center;
  position: static;
  padding-left: 50px;
}
#logo {
  float: left;
}
#header {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.nav {
  display: inline;
  width: 100%;
  margin: -50px 0 0 -100px;
  clear: both;
  overflow: hidden;
}
.card {
  background-color: transparent
}
.card-body {
  background-color: white
}
